.class{
    width: 30%;
}
.main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.sidebar{
    width: 20%;
    box-sizing: border-box;
    border: dashed;
    border: 8px solid black;
}
