.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.class{
    width: 30%;
}
.header{
    height: 25px;
}
.main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.sidebar{
    width: 30%;
    flex-direction: row;
    border: dashed;
}
.sidebar_f{
    /*width: 30%;
      flex-direction: column;*/
    margin: 5px;
    padding: 5px;
    border: dashed;
    text-align: center;
    background-color: yellow;
}
.moji{
    text-align: center;
}
.rightbar{
    width: 70%;
    flex-direction: row;
    /*border: dashed;*/
}
.center{
    width: 10px;
    flex-direction: row;
}
.right_1{
    border: dashed;
    text-align: center;
}
.right_2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.right_2_s{
    margin-top: 5px;
    margin-bottom: 5px;
   /* flex-direction: column;*/
    width: 30%;
    border: dashed;
    text-align: center;
}
.right_3{
    height: 300px;
    border: dashed;
}
.right_3_s{
    margin: 5px;
    padding: 5px;
    border: dashed;
    text-align: center;
    background-color: yellow;
}
